* {
    overflow:hidden;
}

.layout {
    background-color: #ffffff;
    height: 12vh;
    width: 100%;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
   
}

.layout a {
    text-decoration: none;
}

.NeuroFlap {
    
    margin-right: auto; /* Empurra para a esquerda*/
    height: auto;
    width: 300px ;
    margin-left: 10vw;
    margin-top: 30px;
}

.GitLogo {
    scale: 0.9;
    height: auto;
    margin-top: 30px; 
}

.LinkedinLogo {
    scale: 0.9;
    height: auto;
    margin-right: 13vw;
    margin-top: 32px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content #canvas {
    max-height: 70vh;
    max-width: 100%;
    margin-top: 5vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 15px;
    color: rgb(0, 0, 0);

}

@media screen and (max-width: 576px) {
    
    .NeuroFlap {
        width: 225px;
        margin-left: 2vw;
    }

    .GitLogo {
        scale: 0.6;
        margin-top: 39px;
        margin-left: 25px;
    }

    .LinkedinLogo {
        scale: 0.6;
        margin-top: 39px;
        margin-right: 5vw;

    }
    
    .content #canvas {
        margin-top: 120px;
        height: 200px;
    }

    .footer {
        font-size: 8px;
        margin-top: 1vh;
    }
}